*{
    padding: 0%;
    margin: 0%;
    background-color: whitesmoke;
}


.logo{
    margin-left:1%px;
}
nav{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
nav,ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 80px;
}
nav ul li :hover{
    color: rgb(247, 4, 247);
    cursor: pointer;


}
.sign{
background-color: black;
padding: 5px;
color: white;
border-radius: 20px;
width: 100px;

}
.pro{
    background-color: red;
    border: 0;
    border-radius: 4px;
    padding: 2px 5px;
   

}
.head{
    font-size: 90px;
    margin-left: 30px;
}


.subdiv-1{

    display: flex;
    justify-content: center;
    align-items: center;

}
.line1{
    margin-left: 10px;
    
}